body{
    background: radial-gradient(lightgrey, lightblue);
    font-family: 'Roboto';
}

/* footer{
    position: absolute; 
    bottom:0; 
    width:100%;
} */

/* .espaco{
    padding-left: 6mm;
} */